<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%- include('../../common/imports'); -%>
  </head>
  <body>
    <%- include('../../common/navbar'); -%>
    <div class="container">
        <div class="row">
            <h1>Novo Produto</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="create" method="POST">
                    <div class="form-group">
                        <label for="postTile">Name</label>
                        <input type="text" class="form-control" id="postTitle" name="name" aria-describedby="name product" placeholder="Enter name">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="postDescription">Description</label>
                        <textarea type="text" class="form-control" id="postDescription" name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postBody">Price</label>
                        <input type="number" class="form-control" id="postBody" name="price" placeholder="body">
                        </div>
                    <div class="form-group">
                        <label for="postImage">Image</label>
                        <input type="text" class="form-control" id="thumbnail" name="image" placeholder="body">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
