<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Blog</a>
    <a class="navbar-brand" href="/home">Home</a>
    <a class="navbar-brand" href="/projects">Projects</a>
    <a class="navbar-brand" href="#">Post</a>
    <a class="navbar-brand" href="#">Project</a>
</nav>