<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%- include('./common/imports'); -%>
  </head>
  <body>
    <%- include('./common/navbar'); -%>
    <div class="container">
      <div class="row">
          <% var qntElements = posts.length;
          for(i = qntElements -1; i != qntElements -4; i--) { %>
            <%- include('post_card', { post: posts[i] }); -%>
          <% }; %>
      </div>
    </div>
  </body>
</html>
