

<div class="row"></div>
<div class="card" style="width: 18rem;">
<img src="<%= `/images/${product.image}` %>" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title"><%= product.name %></h5>
  <p class="card-text"><%= product.description %></p>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"> R$ <%= product.price %></li>
</ul>
<div class="card-body">
  <a href="#" class="card-link">Adcionar ao carrinho</a>
  <a href="#" class="card-link">Another link</a>
</div>
</div>
</div>