body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  margin: 0 auto;
  margin-top: 30px;
}

.post-detail {
  margin: 0 auto;
  margin-top: 30px;
}

h4 {
  font-size: 15px;
}

h3 {
  font-size: 20px;
  color: blue;
  text-align: center;
}

h5 {
  font-size: 17px;
  color: blue;
  text-align: center
}
